<br />
<br />
<br />
<br />
<br />
<div class="col-xs-10 col-xs-offset-1">

	<div class="col-xs-12 col-sm-6">
		<br />
		<br />
		<h1>What I'm Learning</h1>
		<br />
		<br />
		<% current_user.enrolled_courses.each do |course|%>
			<h3 class="text-left">
				<%= link_to course.title, course_path(course) %>
			</h3>
			<%= image_tag course.image, class: 'img-responsive' %>
			<br />
			<div>
				<%= link_to "More Info...", course_path(course), class: 'btn btn-lg btn-primary' %>
			</div>
			<br />
			<br />

	<% end %>
	</div>

	<div class="col-xs-12 col-sm-6">
		<br />
		<br />
		<h1>What I'm Teaching</h1>
		<br />
		<br />
  		<% current_user.courses.each do |course| %>
	    	<h3 class="text-left">
	      		<%= link_to course.title, course_path(course) %>
	    	</h3>
	    	<%= image_tag course.image, class: 'img-responsive' %>
	    	<br />
			<div>
				<%= link_to "More Info...", course_path(course), class: 'btn btn-lg btn-primary' %>
			</div>
			<br />
			<br />


  		<% end %>
   </div>
</div>
