<br />


  <div class="col-xs-12 course-page">

    <div class="col-xs-10 col-xs-offset-1">
      
      <div class="col-xs-12 col-sm-6">
          <br />
          <br />
          <h1><%= @course.title%></h1>
          <%= @course.description %>
          <%= image_tag @course.image, class: 'img-responsive' %>
          <br />
          <br />
      </div>
  
      <div class="col-xs-12 col-sm-6">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br class="clear"/>
      		<span class="price text-left">
      			<%= number_to_currency @course.cost %>
      		</span>	
          <br />
           <% if current_user && current_user == @course.user%>
          <br />
          <br />
            <%= link_to 'Administer', instructor_course_path(@course), class: "btn btn-default btn-large text-center" %>
            <br />
          <% end %> 

          <br />
          <% if current_user && current_user.enrolled_in?(@course)%>
            <h3 class="label label-info">You Are Enrolled!</h3>
            <br />
            <br />
          <% else %>
          <% if @course.free? %>
            <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
          <% else %>

          <!--Stripe Form-->
          <%= form_tag course_enrollments_path(@course) do %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
                    data-amount="<%= (@course.cost * 100).to_i %>"></script>
            <% end %>
          <% end %>
        <!--Stripe Form-->
        <% end %>
      </div>
      </div>
 </div> 

 <br class="clear" />

<div class="container bottom-half">

  <div class="col-xs-10 col-xs-offset-1" >

    <div class="col-xs-12 col-sm-8">
        <% @course.sections.each do |section|%>
          <div class="section">
            <h3><%= section.title %></h3>
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <div class="col-xs-12 lesson text-left">
              <%= link_to lesson_path(lesson) do %>
              <b><%= lesson.title %></b>
              <br />
              <%= lesson.subtitle %>
              <% end %>
            </div>
        <% end %>
        <br class="clear" />
       
      </div>
    <% end %> 
  </div>
 

  <div class="col-xs-12 col-sm-4">
    <br />
    <h3>Your course List</h3>
    <br />
      <% current_user.enrolled_courses.each do |course|%>
      <br />
      <%= image_tag course.image, class: 'img-responsive' %>
      <br />
      <div>
        <%= link_to course.title, course_path(course), class: 'btn btn-lg btn-primary' %>
      </div>
      <br />
      <br />
      
  <% end %> 
    </div>

   </div> 
</div>











